
[submodule "alphartc"]
	path = alphartc
	url = https://github.com/OpenNetLab/AlphaRTC.git
	ignore = dirty

[submodule "containernet"]
	path = modules/containernet
	url = https://github.com/containernet/containernet.git
	ignore = dirty