services:
  receiver:
    image: pyrtc_image:latest
    privileged: true
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1          # 使用 1 张显卡
              capabilities: [gpu]
    volumes:
      - ./share:/app/share
    container_name: rtc_c2
    user: "user"
    environment:
      ARG_A: "${ARG_A:-dummy}"
    command: python run.py -A "${ARG_A:-dummy}"
    networks:
      rtcnet:
        ipv4_address: 192.168.2.102
  
  sender:
    image: pyrtc_image:latest
    privileged: true
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1          # 使用 1 张显卡
              capabilities: [gpu]
    volumes:
      - ./share:/app/share
    container_name: rtc_c1
    depends_on:
      - receiver
    user: "user"
    environment:
      ARG_A: "${ARG_A:-dummy}"
    command: ["/bin/bash", "entrypoint_sender.sh"]
    networks:
      rtcnet:
        ipv4_address: 192.168.2.101

networks:
  rtcnet:
    external: true
